*{
    font-family: "Savate", sans-serif;
}
@import "tailwindcss";

.gg{
    transition: .2s all linear;
}
.gg:hover{
    transform: scale(1.2);
    
}
body{
    background: #819A91;
}

.a{
    background-image: url('../src/assets/html.png');
}


.nav-link {
  position: relative; 
  padding-bottom: 5px; 
  text-decoration: none; 
  color: inherit; 
}

.nav-link::after {
  content: ''; 
  position: absolute;
  left: 0; 
  bottom: 0; 
  width: 0; 
  height: 2px; 
  background-color: #FCECDD; 
  transition: width 0.3s ease-out; 
}

.nav-link:hover::after {
  width: 100%; 
}



@keyframes pulse-bg {
  0% {
    background-color: #e0f2f7; 
    box-shadow: 0 0 15px rgba(173, 237, 217, 0.7);
  }
  50% {
    background-color: #ADEED9; 
    box-shadow: 0 0 30px rgba(173, 237, 217, 1);
  }
  100% {
    background-color: #e0f2f7; 
    box-shadow: 0 0 15px rgba(173, 237, 217, 0.7);
  }
}

.animate-skill-focus {
  animation: pulse-bg 1s ease-in-out; 
}
